h1 {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}
p {
    color: blue;
}
ul {
    list-style: square;
}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}
tr:first-child {
    color: red;
}
tr:nth-child(2n) {
    background-color: rgb(255, 160, 131);
}